<div class ="boxed col-md-4">
  <h4>My Profile</h4>
  <p><strong>Name:</strong> <%= @user.first_name%> <%= @user.last_name %></p>
  <p><strong>Email Address:</strong> <%= @user.email_address%> </p>
  <p><strong>Password:</strong> <%= @user.password%> </p>
  <p><strong>Hometown:</strong> <%= @user.hometown%></p>
</div>

<img alt="full screen background image" src="http://i138.photobucket.com/albums/q248/uthpastor06/Bricks.jpg" id="full-screen-background-image" />
